body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* 부드러운 파란색 배경 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.heading {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

.time {
    font-size: 36px;
    color: #ff69b4; /* 핑크색 글자 */
    margin-bottom: 30px;
}

.calories {
    font-size: 18px;
    color: #555555;
    text-align: center;
    margin-top: 30px;
}

.record-link {
    margin-top: 20px;
}

.record-link a {
    background-color: #ff69b4; /* 핑크색 배경 */
    color: #ffffff; /* 흰색 글자 */
    padding: 10px 20px;
    text-decoration: none; /* 링크 밑줄 제거 */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.record-link a:hover {
    background-color: #ff1493; /* 호버 시 더 진한 핑크색 */
}

.fa-fire{
    color: red;
}