/* 기본 스타일 설정 */
body {
    font-family: "Ubuntu", sans-serif;
    background-color: #f0f8ff; /* 부드러운 파란색 배경 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* 수직 정렬을 위해 추가 */
    align-items: center;
    height: 100vh;
    overflow-x: hidden; /* 슬라이드 메뉴 표시를 위해 */
}

/* 컨테이너 스타일 */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    z-index: 1; /* 추가: 다른 요소들보다 위에 표시되도록 */
}

/* bell, acc_icon */
.menuRight a {
    text-decoration: none;
}

.headTop_App {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side_menu_button {
    margin-right: auto;
    cursor: pointer;
}

/* between logo and noona diet h1 */
.header_btm_app {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.242);
}

.headMid_app {
    display: flex;
    justify-content: center;
}

.diet_food_img_ke {
    display: flex;
    justify-content: center;
}

.diet_food_img_ke img {
    width: 65%; /* 창 너비의 80% */
    height: auto; /* 높이를 자동으로 조절하여 비율을 유지 */
    max-width: 100%; /* 최대 너비를 부모 요소의 너비로 제한 */
    border-radius: 10px;
    margin-bottom: 20px;
}

/* 라벨 스타일 */
.input-group label,
label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

/* 인풋 및 셀렉트 스타일 */
.input-group input,
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.input-group button,
button {
    background-color: #d6cc71; 
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addBtn_center {
    justify-content: center;
}

.input-group button:hover,
button:hover {
    background-color: #dcff145e; 
}

/* 로그 스타일 */
.log {
    margin-top: 20px;
}

.log-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* edit, delete  */
.edit_del_icon {
    padding-left: 10px;
}

/* 총 칼로리 스타일 */
.total-calories {
    margin-top: 10px;
    font-weight: bold;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

/* 결과 스타일 */
.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333333;
}

/* 추가 스타일 */
input::placeholder {
    color: #aaaaaa;
}

select:focus, 
input:focus {
    outline: none;
    border-color: #ff69b4;
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
}

/* 슬라이드 메뉴 스타일 */
.slide-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.slide-menu a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.slide-menu a:hover {
    color: #f1f1f1;
}

.slide-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
