/* 기본 스타일 설정 */
body {
    font-family: 'Indie Flower', cursive; 
    background-color: #f0f8ff; /* 부드러운 파란색 배경 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 컨테이너 스타일 */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

/* 제목 스타일 */
.container h1 {
    font-family: 'Indie Flower', cursive;
    color: #333333;
    margin-bottom: 20px;
}

/* 이미지 스타일 */
.food_intake_illustration {
    width: 400px; 
    height: 300px; 
    border-radius: 10px;
    margin-bottom: 20px;
}

/* 입력 그룹 스타일 */
.input-group {
    margin-bottom: 15px;
}

/* 라벨 스타일 */
.input-group label,
label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

/* 인풋 및 셀렉트 스타일 */
.input-group input,
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive; /* Indie Flower 폰트 적용 */
}

.input-group button,
button {
    background-color: #d6cc71; 
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group button:hover,
button:hover {
    background-color: #dcff145e; 
}

/* 로그 스타일 */
.log {
    margin-top: 20px;
}

.log-item {
    padding: 10px;
}

/* 총 칼로리 스타일 */
.total-calories {
    margin-top: 10px;
    font-weight: bold;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

/* 결과 스타일 */
.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333333;
}

/* 추가 스타일 */
input::placeholder {
    color: #aaaaaa;
}

select:focus, 
input:focus {
    outline: none;
    border-color: #ff69b4;
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
}
