* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #ff6f61;
  color: white;
}

.search-button .fa-magnifying-glass {
  /* border: 1px solid #eee; */
  font-size: 22px;
  vertical-align: middle;
}

#logo {
  /* display: flex; */
  padding-left: 10px;
  font-size: 25px;
  /* width: 10%;
  height: 10%; */
}

/* #logo img {
  width: 20%;
  height: 10%;
} */

.fa-magnifying-glass:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#search-input {
  border-radius: 10px;
  border: 1px solid black;
  width: 400px;
  height: 45px;
  margin-right: 10px;
  padding-left: 20px;
  font-size: 18px;
}

#search-input-section i {
  vertical-align: middle;
}

.search-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.menu-tab {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px;
  padding-right: 10px;
}

.fa-bars:hover {
  cursor: pointer;
  transform: scale(1.2);
}

main {
  padding: 20px;
}

.container {
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  height: 90vh;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: auto auto auto auto; */
}

.box {
  background-color: (255, 266, 255, 0.8);
  border: 1px solid #ff6f61;
  border-radius: 10px;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  text-transform: capitalize;
}

.recipe-label {
  font-weight: bold;
  font-size: 20px;
  color: #f04232;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 23px;
  border: 1px solid #ff6f61;
  border-radius: 10px;
  height: 70px;
  width: 50%;
}

.container-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
