/* 혜정 css 스타일링 - recipe-home.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f8f8f8;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px; /* 최대 너비 설정 */
}

.search-input-section {
  display: flex;
  align-items: center;
  position: relative;
}

#search-input {
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
  max-width: 400px; /* 최대 너비 설정 */
  height: 45px;
  padding-left: 2.5em; /* 아이콘 공간 확보를 위한 패딩 */
  font-size: 18px;
  box-sizing: border-box;
}

.search-icon-ke {
  position: absolute;
  left: 10px; /* 입력 창 내부 패딩에 맞게 위치 조정 */
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px; /* 아이콘 크기 조정 */
  vertical-align: middle;
  color: rgb(0, 134, 90);
}

.search-icon-ke:hover {
  cursor: pointer;
}

.search-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.main-title {
  font-weight: bold;
  font-size: 30px;
  color: rgb(23, 67, 57);
  padding-bottom: 10px;
}

.main-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* 항목을 다음 줄로 래핑 허용 */
  margin-top: 10px;
  margin-bottom: 50px;
  gap: 20px; /* 제목과 검색창 사이 간격 추가 */
}

.recipe-container-ABC {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(0, 134, 90);
  border-radius: 10px;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  font-weight: 250;
  text-transform: capitalize;
}

.box:hover {
  cursor: pointer;
}

.box img {
  width: 140px;
  height: 140px;
  border-radius: 10px;
}

.box img:hover {
  transform: scale(1.1);
}

.recipe-url {
  text-decoration: none;
  color: black;
}

.recipe-label {
  font-weight: bold;
  font-size: 1rem;
  color: rgb(0, 134, 90);
  padding-top: 5px;
}

.recipe-info {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;
}

.calories {
  padding-right: 25px;
}

.calories-number {
  color: rgb(0, 134, 90);
}

.ingredients-number {
  color: rgb(0, 134, 90);
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 23px;
  border: 1px solid rgb(0, 134, 90);
  border-radius: 10px;
  height: 70px;
  width: 50%;
}

.container-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.pagination-button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px 10px;
  cursor: pointer;
  font-size: 17px;
  border: 1px solid rgb(0, 134, 90);
  border-radius: 30%;
  background-color: transparent;
}

.pagination-button:hover {
  transform: scale(1.1);
  background-color: rgb(0, 134, 90);
  color: white;
}

.pagination-button.active {
  background-color: rgb(0, 134, 90);
  color: white;
}

@media (max-width: 1200px) {
  .recipe-container-ABC {
    grid-template-columns: repeat(3, 1fr);
  }
  /* 마지막 아이템을 중앙에 배치 */
  .recipe-container-ABC .box:nth-last-child(1):nth-child(3n + 1) {
    grid-column: span 3;
    justify-self: center;
  }
}

@media (max-width: 935px) {
  .recipe-container-ABC {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-title-container {
    flex-direction: column;
    align-items: center;
  }
  #search-input {
    width: 100%;
    max-width: 300px; /* 작은 화면에 맞춰 너비 조정 */
  }

  .search-icon-ke {
    left: 10px; /* 아이콘 위치를 작은 화면에 맞게 조정 */
    font-size: 16px; /* 아이콘 크기 조정 */
  }
  /* 마지막 아이템을 중앙에 배치 */
  .recipe-container-ABC .box:nth-last-child(1):nth-child(2n + 1) {
    grid-column: span 2;
    justify-self: center;
  }
}

@media (max-width: 700px) {
  .recipe-container-ABC {
    grid-template-columns: 1fr;
    justify-items: center; /* 아이템을 가운데 정렬 */
  }
  .main-title-container {
    text-align: center;
  }
  .main-title {
    font-size: 23px;
  }
  #search-input {
    width: 100%;
    max-width: 250px; /* 작은 화면에 맞춰 너비 조정 */
    font-size: 16px;
  }
  .search-icon-ke {
    left: 10px; /* 작은 화면에 맞춰 위치 조정 */
    font-size: 16px; /* 아이콘 크기 조정 */
  }
}
