body {
    font-family: "Ubuntu", sans-serif;

}

/* Existing styles */
.calculator-container-CW {
    text-align: center;
   
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 20px;
    overflow: hidden;
    height: 501px;
}

/* Container one */
.body-img {
    flex: 1;
    max-width: 501px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.body-img img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

/* Container two */
.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    height: 100%;
}

.input-radio {
    display: flex;
    align-items: center;
    /* Align items vertically */
    justify-content: center;
    padding-bottom: 5px;
}

.input-radio label {
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    font-weight: 800;
    margin-right: 5px;
}

.input-radio input[type="radio"] {
    margin: 10px;
}


.details {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* Adjust the gap between form groups */
}

.details .form-group {
    flex: 1 1 calc(50% - 0.5rem);
    /* Adjust the width of each form group */
    display: flex;
    align-items: center;
}

.details label {
    flex: 0 0 50%;
    /* Adjust the width of the label */
    margin-right: 1rem;
    /* Adjust space between label and input */
    text-align: right;
    /* Align labels to the right */
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
    
    margin-right: 10px;
}

.details input.question {
    width: 150px;
    /* Let input take remaining space */
    padding: 5px;
    /* Adjust input padding */
    font-size: 1rem;
    /* Adjust input font size */
    border-radius: 5px;
    border: 1px solid #ccc;
    /* Example border styling */
}

.details input.question::placeholder {
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    font-weight: 800;
    color: grey;
    /* Other placeholder styles */
}

.calculator-container-CW input[type="number"] {
    border-radius: 5px;
    background-color: #ffc107;
}

.calculator-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Adjust the gap between button groups */
    justify-content: center;
    /* Align items to the start */
}

.calculator-buttons .inline-buttons {
    display: flex;
    gap: 1rem;
    /* Adjust the gap between inline buttons */
    margin-top: 1rem;
}

.calculator-buttons button {
    border: none;
    border-radius: 5px;
    background-color: #ffc107;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    font-weight: 800;
    width: 150px;
    /* Limit the maximum width of each button */
}

.calculator-buttons .reset {
    margin-top: 1rem;
    /* Add space between the inline buttons and the reset button */
    align-self: flex-start;
    /* Move the reset button to the start of the flex container */
    max-width: 150px;
    /* Ensure the reset button spans the full width */
}

.calculator-buttons .button-group {
    display: flex;
    gap: 10px;
    /* Adjust the gap between buttons */
}

.calculator-buttons .reset-button {
    margin-top: 2px;
    /* Add space between the button groups */
    align-self: flex-start;
    /* Move the reset button to the start of the flex container */
    width: 100%;
    /* Ensure the reset button spans the full width */
}

/* Container three */
.result-section {
    flex: 1;
    margin-left: 20px;
    max-width: 558px;
    /* Adjust the width as needed */
    margin-left: 20px;
    /* Space between form and result */
}




.body-info {
    display: flex;
}

textarea:focus,
input:focus {
    outline: 0;
}

/* New styles for form input section */

.input-container {
    position: relative;
    margin-bottom: 2rem;
}

.input-container input.question,
.input-container textarea.question {
    font-size: 20px;
    font-weight: 400;
    border-radius: 2px;
    border: none;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0);
    transition: border-color 0.3s ease;
}

.input-container input.question:focus,
.input-container textarea.question:focus {
    outline: none;
    border-color: #FFD35A;
}

.input-container label {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    border-top: 4px solid transparent;
    transition: border-color 0.3s ease, top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input-container input.question:focus+label,
.input-container textarea.question:focus+label,
.input-container input.question:valid+label,
.input-container textarea.question:valid+label {
    border-color: #FFD35A;
    top: -1.5rem;
    font-size: 0.8em;
    color: #333;
}

.input-container input.question:valid+label,
.input-container textarea.question:valid+label {
    border-color: #FFD35A;
    top: -1.5rem;
    font-size: 0.8em;
    color: #333;
}

.input-container input[type="number"] {
    -moz-appearance: textfield;
}

.input-container input::-webkit-outer-spin-button,
.input-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-container input[type="number"] {
    appearance: textfield;
}


.body-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* Adjust as needed */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}